body {
	max-width: 1080px;
	margin: auto;
	background-color: #034146;
	padding: 10px 10px 0px 10px;
	justify-content: center;
	text-align: center;
	user-select: none;
}

.popup-subs {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: visible;
	opacity: 1;
	z-index: 2;
}

.popup-container {
	position: relative;
	background-color: white;
	height: 25%;
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #294545;
}

.form-popup {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-popup h1, p, input {
	width: 100%;
	height: 100%;
}

.popup-subs-active {
	visibility: hidden;
	opacity: 0;
	transition: visibility .5s, opacity .5s;
}

.close-popup {
	position: absolute;
	top: 5%;
	right: 5%;
	font-weight: bold;
	cursor: pointer;
	font-size: 25px;
	color: black;
}

.close-popup {
	font-family: 'Avenir LT W01 55 Roman', sans-serif;
	color: #032932;
}

.close-popup:hover {
	opacity: .5;
	transition: ease .5s;
}

.email-popup {
	padding: 0 2% 0 0px;
	width: 50%;
}

.submit-popup {
	padding: 0 0 0 2%;
}

.popup-container h1 {
	font-family: 'Baskervville', serif;
	color: #C27E53;
	transform: scale(1.25, 1.5);
	font-size: 32px;
}

.popup-container p {
	font-family: 'Avenir LT W01 55 Roman', sans-serif;
	color: #A2B6B3;
	font-size: 16px;
	font-weight: 600;
}

.email-popup input {
	outline: none;
	background-color: #667C7E;
	border: 1px solid #032932;
	color: #fff;
	height: 25px;
}

input::placehoolder {
	color: white;
 }

.submit-popup input {
	outline: none;
	font-family: 'AvenirLTW01-95BlackObli', sans-serif;
	color: #fff;
	background-color: #032932;
	cursor: pointer;
	user-select: none;
	border-radius: 5px;
	border: 0;
	height: 29px;
	font-size: 12px;
}

.submit-popup input {
	transition: .5s;
}

.submit-popup input:hover {
	transition: .5s;
	opacity: .7;
}

.background-video-container {
	overflow: hidden;
}

.background-video-container video {
	opacity: 1;
	z-index: -1;
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.cover-logo {
	max-width: 100%;
	justify-content: center;
	text-align: center;
}

.cover-logo img {
	width: 20%;
	height: 20%;
}

.firstnavbar {
	width: 100%;
	display: inline-block;
}

.firstnavbar ul {
	text-align: center;
	padding: 180px 20px;
}

.firstnavbar ul li {
	list-style: none;
	display: inline-block;
	padding: 35px 45px;
}

.firstnavbar ul li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	transform: scale(1,1.05);
	color: #d1dedb;
	font-size: 14px;
	font-family:'Avenir LT W01 65 Medium', sans-serif;
	letter-spacing: 1.5px;
	font-weight: 700;
	/*transition: ease-in-out .2s;*/
}

.firstnavbar ul li a.home {
	color: rgba(209, 222, 219, .5);
}

.firstnavbar ul li a:hover {
	color: rgba(209, 222, 219, .5);
	transition: .2s;
}

.action-lang {
	width: 100%;
	display: inline-block;
}

.action-lang ul {
	text-align: center;
	padding: 0;
	text-align: right;
	margin: 10px;
}

.action-lang ul li {
	list-style: none;
	display: inline-block;
	padding: 0 5px;
}

.action-lang ul li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	transform: scale(1,1.05);
	color: #d1dedb;
	font-size: 12px;
	font-family:'Avenir LT W01 65 Medium', sans-serif;
	letter-spacing: 1.5px;
	font-weight: 700;
	/*transition: ease-in-out .2s;*/
}

.action-lang ul li a:hover {
	color: rgba(209, 222, 219, .5);
	transition: .2s;
}

@media screen and (max-width: 768px) {
	body {
		padding: 10px 0px;
	}
	.popup-container {
		width: 80%;
		height: 40%;
	}

	.cover-logo img {
		width: 30%;
		height: 30%;
	}

	.firstnavbar {
		max-width:100%;
	}

	.firstnavbar ul {
		padding: 180px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.firstnavbar ul li {
		padding: 10px 15px;
	}
}