body {
	margin: auto 0;
	padding: 0;
	background-color: #fff;

	/*
	background-image: url("../media/contact_background_pictures/contact_background_picture.png");
	background-repeat: no-repeat;
  	background-size: cover;
  	*/

}

/*background picture contact*/

.contact-background-picture {
	overflow: hidden;
}

.contact-background-picture img {
	position: fixed; /*it was absoulte, changed to fixed in order to fill full screen*/
	z-index: -1;
	object-fit: fill;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*end background picture contact*/

/*---------------------------------------------------------*/

/*setting language es en*/

.select-language {
	user-select: none;
}

.action-lang {
	width: 100%;
	display: inline-block;
	position: absolute;
}

.action-lang ul {
	text-align: center;
	padding: 0;
	text-align: right;
	margin: 10px;
}

.action-lang ul li {
	list-style: none;
	display: inline-block;
	padding: 0 5px;
}

.action-lang ul li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	transform: scale(1,1.05);
	color: rgba(1,1,1,.5);
	font-size: 12px;
	font-family:'Avenir LT W01 65 Medium', sans-serif;
	letter-spacing: 1.5px;
	font-weight: 700;
	/*transition: ease-in-out .2s;*/

	color: #fff; /*new change jan 29 h: 22.38*/
}

.action-lang ul li a:hover {
	color: rgba(209, 222, 219, 1);
	transition: .2s;

	color: #034146;  /*new change jan 29 h: 22.38*/
}

/*end setting language es en*/

/*---------------------------------------------------------*/

/*navbar*/

.firstnavbar {
	width: 100%;
	user-select: none;
}

.firstnavbar ul {
	text-align: center;
	padding: 20px;
}

.firstnavbar ul li {
	list-style: none;
	display: inline-block;
	padding: 35px 45px;
}

.firstnavbar ul li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	transform: scale(1,1.05);
	color: #000;
	font-size: 14px;
	font-family:'Avenir LT W01 65 Medium', sans-serif;
	letter-spacing: 1.5px;
	
	/*font-weight: 500;*/
	/*transition: ease-in-out .2s;*/

	/*new changes date: 01-26-2021*/
	font-weight: 700;
	color: #034146;
	/*end new changes date: 01-26-2021*/

	color: #fff;  /*new change jan 29 h: 22.38*/
}

.firstnavbar ul li a.contact {
	color: rgba(157, 162, 171,.9);

	color: #034146;  /*new change jan 29 h: 22.38*/
}

.firstnavbar ul li a:hover {
	color: rgba(157, 162, 171,.9);
	transition: .2s;

	color: #034146;  /*new change jan 29 h: 22.38*/
}

/*end navbar*/

/*---------------------------------------------------------*/

/*dactilar logo clean*/

/*this is the logo that she said to remove*/

.logo-clean {
	height: 60px;
	background:#fff;
	text-align: center;
}

.logo-clean img {
	max-width: 100%;
	height: 10%;
	width: 10%;
	padding: 20px;
}

/*end dactilar logo clean*/

/*---------------------------------------------------------*/

/*setting form style for contact*/

.contact-form {
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 14px;
	font-family:'Avenir LT W01 55 Roman', sans-serif;
	font-weight: bold;

	text-shadow: -1px 0 #034146,
				  0 1px #034146,
				  1px 0 #034146,
				 0 -1px #034146;
	/*-webkit-text-stroke: 0.2px #034146;*/
}

form {
	width: 35%;
	height: 100%;
}

.full-name input, .contact-email input, .contact-subject input, textarea {
	color: #034146;
	font-weight: bold;
	font-family: 'Avenir LT W01 55 Roman', sans-serif;
}

form .left-content label {
	padding: 4px 0;
}

form .full-name input, .contact-email input, .contact-subject input {
	height: 20px;
	outline: none;
}

.first-name, .last-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

.first-name input, .subtitle-firstname {
	margin: 0 15px 0 0;
}

.last-name input, .subtitle-lastname {
	margin: 0 0 0 15px;
}

.subtitle-firstname, .subtitle-lastname {
	font-size: 10px;
}

.full-name {
	display: flex;
	padding: 20px 0;
}

.contact-email, .contact-subject, .contact-message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 0;
}
.contact-submit {
	display: flex;
	justify-content: center;
}

.contact-submit input {
	font-family: 'AvenirLTW01-95BlackObli', sans-serif;
	padding: 10px 15px;
	color: #fff;
	text-transform: uppercase;
	background-color: #034146;
	border: 1px solid #034146;
	font-size: 14px;
	cursor: pointer;
	user-select: none;
-webkit-appearance: none;
}

.first-name input, .last-name input, .contact-email input, .contact-subject input {
	background-color: rgba(186,204,201,.8);
	border: 1px solid #034146;
	border-radius: 3px;
}

.contact-message textarea {
	resize: vertical;
	height: 100px;
	background-color: rgba(186,204,201,.8);
	border: 1px solid #034146;
	outline: none;
	border-radius: 3px;
}

.contact-submit input {
	transition: .5s ease-in-out;
	outline: none;
}

.contact-submit input:hover {
	opacity: .9;
	background-color: rgba(1,1,1,.9);
	transition: .5s ease-in-out;
	border: 1px solid rgba(1,1,1,0);
	color: #fff;
}

/*end setting form style for contact*/

@media screen and (max-width: 768px) {
	body {
		/*overflow-x: hidden;*/
	}

	/*background image contact for mobiles and fixed to full screen*/

	.contact-background-picture img {
		/*height: 150vh;*/
	}

	/*end background image contact for mobiles and fixed to full screen*/

	/*---------------------------------------------------------*/

	/*navbar for mobiles*/

	.firstnavbar {
		width: 50%;
	}

	.firstnavbar-links {
		margin: 0;
		display: none;
		position: absolute;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		width: 100%;
		transition: transform 0.5s ease-in;
		transform: translateX(-100%);
		z-index: 1;
		justify-content: center;
	}

	.firstnavbar ul {
		padding: 0;
	}

	.firstnavbar ul li {
		opacity: 0;
	}

	/*fixing responsive mobile navbar because of change of color*/

	.firstnavbar ul li a {
		font-weight: 700;
		color: #034146;
	}

	.firstnavbar ul li a.contact {
		color: rgba(157, 162, 171,.9);
	}

	.firstnavbar ul li a:hover {
		color: rgba(157, 162, 171,.9);
		transition: .2s;
	}

	/*end fixing responsive mobile navbar because of change of color*/

	.firstnavbar-cel {
		display: block;
		position: relative;
		z-index: 1;
		padding: 15px;
	}

	.firstnavbar-cel-button {
		width: 25px;
		margin: 0px;
		cursor: pointer;
	}

	.firstnavbar-cel-button div {
		background-color: #034146;
		height: 4px;
		margin: 0px;
		transition: all .3s ease;
	}

	.firstnavbar-cel-button div:nth-child(2) {
		background-color: #fff;

		opacity: 0; /*new change, adding background picture to contact*/
	}

	.firstnavbar-cel-button div:nth-child(4) {
		background-color: #fff;

		opacity: 0; /*new change, adding background picture to contact*/
	}

	/*end navbar for mobiles*/

	/*---------------------------------------------------------*/

	/*fixed on content first navbar list*/

	.fixed-active {
		position: fixed;
	}
	
	/*end fixed on content first navbar list*/

	/*---------------------------------------------------------*/

	/*form contact for mobiles*/

	form {
		width: 70%;
	}
	/*end form contact for mobiles*/
}

.firstnavbar-active {
	transform: translateX(0%);
}

@keyframes fadingNavCel {
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line3 {
	opacity: 0;
}

.toggle .line5 {
	transform: rotate(45deg) translate(-5px, -6px);
}
