body {
	margin: auto 0;
	padding: 0;
	background-color: #fff;
}

/*setting language es en*/

.select-language {
	user-select: none;
}

.action-lang {
	width: 100%;
	display: inline-block;
	position: absolute;
}

.action-lang ul {
	text-align: center;
	padding: 0;
	text-align: right;
	margin: 10px;
}

.action-lang ul li {
	list-style: none;
	display: inline-block;
	padding: 0 5px;
}

.action-lang ul li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	transform: scale(1,1.05);
	color: rgba(1,1,1,.5);
	font-size: 12px;
	font-family:'Avenir LT W01 65 Medium', sans-serif;
	letter-spacing: 1.5px;
	font-weight: 700;
	/*transition: ease-in-out .2s;*/
}

.action-lang ul li a:hover {
	color: rgba(209, 222, 219, 1);
	transition: .2s;
}

/*end setting language es en*/

/*---------------------------------------------------------*/

/*navbar*/

.firstnavbar {
	width: 100%;
	user-select: none;
}

.firstnavbar ul {
	text-align: center;
	padding: 20px;
}

.firstnavbar ul li {
	list-style: none;
	display: inline-block;
	padding: 35px 45px;
}

.firstnavbar ul li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	transform: scale(1,1.05);
	/*color: #000;*/
	font-size: 14px;
	font-family:'Avenir LT W01 65 Medium', sans-serif;
	letter-spacing: 1.5px;
	
	/*font-weight: 500;*/
	/*transition: ease-in-out .2s;*/

	/*new changes date: 01-26-2021*/
	font-weight: 700;
	color: #034146;
	/*end new changes date: 01-26-2021*/
}

.firstnavbar ul li a.about {
	color: rgba(157, 162, 171,.9);
}

.firstnavbar ul li a:hover {
	color: rgba(157, 162, 171,.9);
	transition: .2s;
}

/*end navbar*/

/*---------------------------------------------------------*/

/*dactilar font logo*/

.dactilar-font {
	background:#fff;
	text-align: center;
}

.dactilar-font img {
	max-width: 100%;
	width: 288.25px;
	height: 97.5px;
	margin-top: /*10px;*/ 50px;
	margin-bottom: /*-50px;*/ -30px;
}

.dactilar-font-mobile {
	display: none;
}

/*end dactilar font logo*/

/*---------------------------------------------------------*/

/*greetings about dactilar*/

.about-greetings {
	margin-left: 3%;
	margin-right: 3%;
}

.about-greetings h1 {
	font-family: 'Baskervville', serif;

	color: #034146;
	margin: 0;
	font-size: 32px;
}

.about-greetings p {
	font-family: 'Avenir LT W01 55 Roman', sans-serif;
	font-size: 16px;
	text-align: left;

	transform: scale(1,1);
	color: rgba(0,0,0,.5);
	letter-spacing: 1px;
	margin-top: 0;
}

/*end greetings about dactilar*/

/*---------------------------------------------------------*/

/*background images about*/

/*automatic slider v1.1 without buttons*/

/*

.about-background-slider {
	overflow: hidden;
	height: 506.5px;
	width: 900px;
	margin: auto;
}

@-webkit-keyframes slide-animation {
	0% {left: 0px;}
	10% {left: 0px;}
	20% {left: 900px;}
	30% {left: 900px;}
	40% {left: 1800px;}
	50% {left: 1800px;}
	60% {left: 900px;}
	70% {left: 900px;}
	80% {left: 0px;}
	90% {left: 0px;}
	100% {left: 0px;}
}

.about-background-slider-pictures {
	width: 2700px;
	margin: 0 0 0 -1800px;
	position: relative;
	-webkit-animation-name: slide-animation;
	-webkit-animation-duration: 21s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}


.about-background-pictures {
	width: 900px;
	position: relative;
	float: left;
}

.about-background-pictures img {
	max-width: 100%;
	max-height: 100%;

	/*

	object-fit: fill;
	object-position: 50% 50%;

	*/ /*just gotta figure this out why this is not working damn*/
/*}*/

/*end automatic slider v1.1 without buttons*/

/*background images about automatic slider v2.1 with buttons*/

.about-background-slider {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: 3%;
	margin-right: 3%;
}

.about-background-slider-pictures {
	position: relative;

	width: 2560px; /*1200px*/
	height: 625px; /*625px*/ /*810px*/
}

.about-background-slider-pictures .about-background-pictures {
	z-index: 1;
  	position: absolute;
 	width: 100%;
  	clip-path: circle(0% at 0 50%); /*gotta figure this out*/
}

.about-background-slider-pictures .about-background-pictures.active {
	clip-path: circle(150% at 0 50%); /*gotta figure this out*/
	/*transition: 1.5s;*/
	transition-property: clip-path;
}

.about-background-slider-pictures .about-background-pictures img {
	z-index: 1;
	width: 100%;


	height: 625px; /*625px*/ /*810px*/
	object-fit: cover;
	object-position: 50% 50%;
}

.about-background-slider-pictures .about-background-navigation {
	z-index: 2;
	position: absolute;
	display: flex;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.about-background-slider-pictures .about-background-navigation .about-background-navigation-button {
	background: rgba(0, 0, 0, .25);
	width: 12px;
	height: 12px;
	margin: 30px 10px;
	border-radius: 50%;
	cursor: pointer;

	transition: ease-in-out .3s;
}

.about-background-slider-pictures .about-background-navigation .about-background-navigation-button:hover {
	background: #034146;
	opacity: .5;
	transition: ease-in-out .3s;
}

.about-background-slider-pictures .about-background-navigation .about-background-navigation-button.active {
	background: #034146;
	opacity: .75;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* in case to add info to a slide for styling

.about-background-slider-pictures .about-background-pictures .info{
	position: absolute;
	top: 0;
	padding: 15px 30px;
  }

.about-background-slider-pictures .about-background-pictures .info h2{
	color: #fff;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
  }

.about-background-slider-pictures .about-background-pictures .info p{
	color: #fff;
	background: rgba(0, 0, 0, 0.1);
	font-size: 16px;
	width: 60%;
	padding: 10px;
	border-radius: 4px;
  }

*/

/*end background images about automatic slider v2.1 with buttons*/

/*end background images about*/

/*---------------------------------------------------------*/

/*texts content about*/

.about-message {
	margin-top: 8%;
	width: 100%;
}

.about-message p {
	padding: 25px  180px 0;
	font-family: 'Avenir LT W01 55 Roman', sans-serif;
	color: #000;
	font-size: 16px;

	text-align: justify;

	transform: scale(1,1);
	color: rgba(0,0,0,.5);
	letter-spacing: 1px;
}

a.link-contact {
	display: block;
	text-decoration: none;
	color: rgba(0,0,0,.4);
	margin: 0px;
}

a.link-contact:hover {
	color: rgba(157, 162, 171,.6);
	transition: .2s;
}

/*end texts content about*/

/*---------------------------------------------------------*/

/*initializing about footer*/

footer {
	margin-left: 3%;
	margin-right: 3%;
}

/*logo dactilar about*/

.logo-clean {
	background:#fff;
	text-align: center;
	margin-bottom: 3%;
}

.logo-clean img {
	max-width: 100%;
	height: 20%;
	width: 20%;
	padding: 2px;
}

/*end logo dactilar about*/

/*about-instagram checking*/

.about-instagram-checking h1 {
	font-family: 'Baskervville', serif;
	color: #034146;
	margin: 0;
	font-size: 32px;
}

/*end about-instagram checking*/

/*about gallery instagram container*/

.full-container-instagram {
	margin: 20px;
	margin-left: 0;
	margin-right: 0;
	padding: 0px;
	text-align: center;
}

.container-instagram {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-auto-rows: repeat(1,1fr); /*350px 350px;*/
	grid-gap: 20px;
	grid-auto-flow: dense;
}

.gallery-item-instagram {
	width: 100%;
	height: 100%;
	position: relative;
}

.gallery-item-instagram .image-instagram {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.gallery-item-instagram .image-instagram img {
	width: 100%;
	height: 100%;
	object-fit: fill;
	object-position: 50% 50%;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.gallery-item-instagram:hover .image-instagram img {
	opacity: 0.2;
}

/*end about gallery instagram container*/

/*end about footer*/

@media screen and (max-width: 768px) {
	body {
		/*overflow-x: hidden;*/
	}

	.firstnavbar {
		width: 50%;
	}

	.firstnavbar-links {
		margin: 0;
		display: none;
		position: absolute;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		width: 100%;
		transition: transform 0.5s ease-in;
		transform: translateX(-100%);
		z-index: 3;
		justify-content: center;
	}

	.firstnavbar ul {
		padding: 0;
	}

	.firstnavbar ul li {
		opacity: 0;
	}

	/*navbar for mobiles*/

	.firstnavbar-cel {
		display: block;
		position: relative;
		z-index: 3;
		padding: 15px;
	}

	.firstnavbar-cel-button {
		width: 25px;
		margin: 0px;
		cursor: pointer;
	}

	.firstnavbar-cel-button div {
		background-color: #034146;
		height: 4px;
		margin: 0px;
		transition: all .3s ease;
	}

	.firstnavbar-cel-button div:nth-child(2) {
		background-color: #fff;
	}

	.firstnavbar-cel-button div:nth-child(4) {
		background-color: #fff;
	}

	/*end navbar for mobiles*/

	/*---------------------------------------------------------*/

	/*fixed on content first navbar list*/

	.fixed-active {
		position: fixed;
	}
	
	/*end fixed on content first navbar list*/

	/*---------------------------------------------------------*/

	/*greetings about dactilar for mobiles*/

	.about-greetings h1 {
		font-size: 24px;
	}

	.about-greetings p {
		font-size: 12px;
	}

	/*end greetings about dactilar for mobiles*/

	/*---------------------------------------------------------*/

	/*background images about for mobiles*/

	/*automatic slider v1.1 without buttons for mobiles*/

	/*

	.about-background-slider {
		height: 202.5px;
		width: 360px;
	}

	@-webkit-keyframes slide-animation {
		0% {left: 0px;}
		10% {left: 0px;}
		20% {left: 360px;}
		30% {left: 360px;}
		40% {left: 720px;}
		50% {left: 720px;}
		60% {left: 360px;}
		70% {left: 360px;}
		80% {left: 0px;}
		90% {left: 0px;}
		100% {left: 0px;}
	}

	.about-background-slider-pictures {
		width: 1080px;
		margin: 0 0 0 -720px;
	}

	.about-background-pictures {
		width: 360px;
	}

	.about-background-pictures img {
		max-width: 100%;
		max-height: 100%;
	}

	*/

	/*end automatic slider v1.1 without buttons for mobiles*/

	/*background images about automatic slider v2.1 with buttons*/

	.about-background-slider-pictures {
		width: 414px; /*360px*/
		height: 202.5px;
	}

	.about-background-slider-pictures .about-background-pictures img {
		height: 202.5px;
	}

	.about-background-slider-pictures .about-background-navigation {
		top: 100%;
	}

	.about-background-slider-pictures .about-background-navigation .about-background-navigation-button {
		width: 10px;
		height: 10px;
		margin: 10px 4px;
	}

	/*end background images about automatic slider v2.1 with buttons*/

	/*end background images about for mobiles*/

	/*---------------------------------------------------------*/

	/*dactilar font logo for mobiles*/

	.dactilar-font {
		display: none;
	}

	.dactilar-font-mobile {
		display: block;
		background:#fff;
		text-align: center;
	}

	.dactilar-font-mobile img {
		max-width: 100%;
		width: 200px;
		height: 67.5px;
		margin-top: -30px;
	}

	/*end dactilar font logo for mobiles*/

	/*about content message for mobiles*/

	.about-message {
		margin-top: 50px;
	}

	.about-message p {
		font-size: 12px;
		padding: 0px 30px;
	}

	/*end about content message for mobiles*/

	/*initializing about footer for mobiles*/

	footer {

		/*padding: 0 20px;*/

	}

	/*logo dactilar about*/

	.logo-clean {
		margin-bottom: 20px;
	}

	.logo-clean img {
	}

	/*end logo dactilar about*/

	/*about-instagram checking*/

	.about-instagram-checking h1 {
		font-size: 24px;
	}

	/*end about-instagram checking*/

	/*end about footer for mobiles*/
}

/*navbar for mobiles*/

.firstnavbar-active {
	transform: translateX(0%);
}

@keyframes fadingNavCel {
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line3 {
	opacity: 0;
}

.toggle .line5 {
	transform: rotate(45deg) translate(-5px, -6px);
}

/*end navbar for mobiles*/